{
  "baseUrl": "http://localhost:10033",
  "adminPath": "/wp-admin",
  "pluginPath": "/Users/zbornheimer/Local Sites/isjac-overhaul/app/public/wp-content/plugins/portal-builder-0.0.4a",
  "pluginMustResolveTo": "/Users/zbornheimer/Developer/Personal/portal-builder",
  "wpContentPlugins": "/Users/zbornheimer/Local Sites/isjac-overhaul/app/public/wp-content/plugins",
  "autoLoginUrl": "http://localhost:10033/wp-admin/",
  "useMocks": true,
  "artifactDir": "tests/.artifacts",
  "testPortalPrefix": "dg-e2e-"
}
